html {
  font-family: Roboto;
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

#content {
  margin-left: 40px;
}

#header {
  color: white;
  background-color: black;
}

#header h1 {
  margin-left: 40px;
  padding: 15px 0;
}

#iSearch{
  padding: 8px;
}

#searchResults ul {
  padding-left: 0 !important;
}

#searchResults ul:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid black;
}

#searchResults ul:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid black;
}

.searchItem {
  padding: 8px;
}

.searchItem:hover {
  background-color: lightgray;
}

.searchItem img:hover {
  cursor: pointer;
}

.flexRow {
  display: flex;
}

.searchContent {
  align-items: flex-start;
}

.searchContent img {
  margin-right: 8px;
}

#resultsDetail {
  margin-top: 20px;
}

.iTunes {
  margin-top: 18px;
}

.iTunes a {
  border: 1px solid rgb(0,128,252);
  padding: 3px;
  text-decoration: none;
  background-color: rgb(0,128,252);
  border-radius: 3px;
  color: white;
}

.iTunes a:hover {
  background-color: white;
  color: rgb(0,128,252);
}

.searchInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}
